version: '3.3'

services:

    app:
        image: joplin/server:latest
        depends_on:
            - db
        ports:
            - "8200:22300"
        restart: unless-stopped
        env_file: .env        
        environment:
            - APP_PORT=22300
            - APP_BASE_URL=${APP_BASE_URL}  #  Poner IP รณ URL
            - DB_CLIENT=pg
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DATABASE=${POSTGRES_DATABASE}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PORT=${POSTGRES_PORT}
            - POSTGRES_HOST=db    
    db:
        image: postgres:13
        volumes:
            - ./data/postgres:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        restart: unless-stopped
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DATABASE}
